header{
    background-color: #FFDBAA;
    color: #553100;
    border-bottom: 1px solid black;
}

.header-content{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
button {
    background-color: #805215;
    color: white;
} 
body {
    background-color: #D4A76A;
}
    .small-boxes{
        display:flex;
        justify-content: space-between;
    }

    .box {
        flex : 1;
        background-color: white ;
        text-align: center;
    }

